<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <header>
    {{> header}}
  </header>
  <main>
    {{{body}}}
  </main>
  <footer>
    {{> footer}}
  </footer>
  <script src="/js/login.js"></script>
  <script src="/js/comment.js"></script>
  <script src="/js/addPost.js"></script>
  <script src="/js/signup.js"></script>
  <script src="/js/logout.js"></script> <!-- Ensure this line is present -->
</body>
</html>
